<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Math</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <button v-model="operator" @click="operator='plus'">+</button>
      <button v-model="operator" @click="operator='minus'">-</button>
      <button v-model="operator" @click="operator='multiply'">*</button>
      <button v-model="operator" @click="operator='divide'">/</button>

      <template v-if="isPlus">
        <div>
          <h1>การบวก</h1>
          <input type="number" v-model="number1" />
          <span>+</span>
          <input type="number" v-model="number2" />
          <span> = {{plus}} </span>
        </div>
      </template>

      <template v-if="isMinus">
        <div>
          <h1>การลบ</h1>
          <input type="number" v-model="number1" />
          <span>-</span>
          <input type="number" v-model="number2" />
          <span> = {{minus}} </span>
        </div>
      </template>

      <template v-if="isMultiply">
        <div>
          <h1>การคูณ</h1>
          <input type="number" v-model="number1" />
          <span>*</span>
          <input type="number" v-model="number2" />
          <span> = {{multiply}} </span>
        </div>
      </template>

      <template v-if="isDivide">
        <div>
          <h1>การหาร</h1>
          <input type="number" v-model="number1" />
          <span>/</span>
          <input type="number" v-model="number2" />
          <span> = {{divide}} </span>
        </div>
      </template>
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          number1: 0,
          number2: 0,
          operator: '',
        },
        computed: {
          plus: function () {
            return parseInt(this.number1) + parseInt(this.number2);
          },
          minus: function () {
            return parseInt(this.number1) - parseInt(this.number2);
          },
          multiply: function () {
            return parseInt(this.number1) * parseInt(this.number2);
          },
          divide: function () {
            if (parseInt(this.number2) == 0) {
              return 'Zero can not be a divider!!';
            } else {
              return parseInt(this.number1) / parseInt(this.number2);
            }
          },
          isPlus: function () {
            return this.operator == 'plus';
          },
          isMinus: function () {
            return this.operator == 'minus';
          },
          isMultiply: function () {
            return this.operator == 'multiply';
          },
          isDivide: function () {
            return this.operator == 'divide';
          },
        },
      });
    </script>
  </body>
</html>
