<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Light</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <span> {{lights[lightIndex]}} </span>
      <br />

      <div
        v-if="lightIndex==0"
        style="
          background-color: green;
          width: 25px;
          height: 25px;
          border: solid 0.5px white;
        "
      ></div>
      <div
        v-else
        style="
          background-color: grey;
          width: 25px;
          height: 25px;
          border: solid 0.5px white;
        "
      ></div>
      <div
        v-if="lightIndex==1"
        style="
          background-color: yellow;
          width: 25px;
          height: 25px;
          border: solid 0.5px white;
        "
      ></div>
      <div
        v-else
        style="
          background-color: grey;
          width: 25px;
          height: 25px;
          border: solid 0.5px white;
        "
      ></div>
      <div
        v-if="lightIndex==2"
        style="
          background-color: red;
          width: 25px;
          height: 25px;
          border: solid 0.5px white;
        "
      ></div>
      <div
        v-else
        style="
          background-color: grey;
          width: 25px;
          height: 25px;
          border: solid 0.5px white;
        "
      ></div>
      <div></div>
      <button @click="changeLight()">เปลี่ยนไฟ</button>
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          lights: ['green', 'yellow', 'red'],
          lightIndex: 0,
        },
        methods: {
          changeLight: function () {
            this.lightIndex++;
            if (this.lightIndex == 3) {
              this.lightIndex = 0;
            }
          },
        },
        computed: {
          switchColor: function () {
            if (this.lightIndex == 0) {
              style.backgroundColor = this.lights[lightIndex];
            }
          },
        },
      });
    </script>
  </body>
</html>
