<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guess</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>{{randomNumber}}</h1>
      <button v-for="number in numbers" @click="answer=number">
        {{number}}
      </button>
      <h3>{{checkAnswer}}</h3>
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          numbers: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
          randomNumber: Math.floor(Math.random() * 10),
          answer: null,
        },
        computed: {
          checkAnswer: function () {
            if (this.answer == this.randomNumber) {
              this.random();
              return 'ถูกต้องง';
            } else if (this.answer > this.randomNumber) {
              return 'มากไป';
            } else {
              return 'น้อยไป';
            }
          },
        },
        methods: {
          random: function () {
            this.randomNumber = Math.floor(Math.random() * 10);
          },
        },
      });
    </script>
  </body>
</html>
